body{
 
}

.imagem {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.imagem3{
    height: 70%;
    width: 70%;
}

.princ{

    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;

}

@media (max-width: 851px) {

    .imagem3{
    height: 100%;
    width: 100%;
    }
}